CERIOUS_BACKEND_HOST=0.0.0.0
CERIOUS_BACKEND_PORT=8000
CERIOUS_EXCHANGE_HOST=127.0.0.1
CERIOUS_EXCHANGE_HTTP_PORT=8011
CERIOUS_EXECUTION_DESTINATION=cerious-exchange
CERIOUS_MARKET_DATA_ENABLED=1
CERIOUS_PRICE_PROVIDER=databento
CERIOUS_PRICE_FEED_SYMBOLS=ES.v.0,NQ.v.0,YM.v.0,RTY.v.0,MES.v.0,MNQ.v.0,MYM.v.0,M2K.v.0,CL.v.0,GC.v.0,ZM.v.0,ZS.v.0
CERIOUS_PRICE_FEED_STYPE=continuous
CERIOUS_PRICE_FEED_STALE_MS=30000
CERIOUS_PRICE_FEED_RECONNECT_MS=5000
CERIOUS_PRICE_FEED_MAX_RECONNECT_MS=60000
DATABENTO_API_KEY=
CERIOUS_PORTAL_USERNAME=tsturiale
CERIOUS_PORTAL_PASSWORD=
CERIOUS_ADMIN_USERNAME=ADMIN
CERIOUS_ADMIN_PASSWORD=12345678
CERIOUS_ALERT_SMTP_DRY_RUN=1
